body{
    font-family: 'Lato', sans-serif;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 5px;
    width: 90px;
    font-size: 20px;
    text-align: center;
}