.button_container {
  background: transparent;
  border: none;
}

.calendar_button {
  color: #5d6d79;
  height: 44px;
  width: 44px;
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: 12px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.calendar_button:active {
  color: #5d6d79;
  height: 44px;
  width: 44px;
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: 12px;
}

.calendar_button:hover {
  color: #5d6d79;
  height: 44px;
  width: 44px;
  border-radius: 15px;
  border: none;
  background-color: white;
  padding: 12px;
  cursor: pointer;
  opacity: 85%;
}

.day_tag {
  margin-bottom: 8px;
}

.day_number {
  font-size: 24px;
}

.calendar_button .material-symbols-outlined {
  font-size: 12px;
}