.image {
  width: 100%;
  max-height: 320px;
}

.credit {
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #b3b3b3;
}

.retryButton {
  color: #fff;
  background-color: #D99146;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 4px 12px;
  margin: 12px 0;
  font-size: 12px;
}


.day_description {
  margin-bottom: 18px;
  max-width: 100%;
}

.day_description pre {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: 'Space Grotesk', sans-serif;
}


.day_description b {
  font-weight: 1000;
  text-transform: uppercase;
}