.form_container {
  width: clamp(600px, 50vw, 70vw);
}

.form_container form {
  font-size: 18px;
  background: #7EC7B2;
  margin-bottom: 24px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .form_container {
    width: 100%;
  }

  .form_container form {
    font-size: 16px;
    background: #7EC7B2;
    margin-bottom: 24px;
    text-align: left;
  }
}

.form_container form .text {
  display: inline-block;
  padding-right: 12px;
  line-height: 2.3;
}

/* I am going to blank for blank */

.form_container input[type=text] {
  border: 1px solid #7ec7b2;
  border-radius: 4px;
  color: #2D2D2D;
  display: block;
  font-family: 'karla';
  font-size: 18px;
  margin-right: 8px;
  margin-bottom: 18px;
  outline-color: #7ec7b2;
  padding: 12px 16px;

}

.form_container ::placeholder {
  color: #8f8f8f;
  opacity: 1;
}

/* how long are you there */

.form_container form .select {
  border-color: #7ec7b2;
  ;
  display: inline;
  padding-bottom: 2px;
  margin-right: 8px;
  min-width: 25%;
}

.form_container form select {
  display: inline-block;
  border-color: #7ec7b2;
  background-color: #7ec7b2;
  outline: none;
  min-width: 10%;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #2D2D2D;
}

.form_container form select:hover {
  cursor: pointer;
}

/* interests */

.form_container .checkboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 24px;
  flex-basis: 100%;
}

.form_container .checkboxes .checkbox {
  margin-right: 8px;
}

/* submit */
.form_container input[type="submit"] {
  padding: 12px 0;
  line-height: 1.5;
  color: #fff;
  background-color: #D99146;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/** loading spinner */
.loader {
  text-align: center;
  color: #26A391;
}

.ldsellipsis {
  position: relative;
  width: 100px;
  margin: auto;
  height: 60px;
}

.ldsellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #F74237;

  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsellipsis div:nth-child(1) {
  left: 18px;
  animation: ldsellipsis1 0.6s infinite;
}

.ldsellipsis div:nth-child(2) {
  left: 18px;
  animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(3) {
  left: 42px;
  animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(4) {
  left: 66px;
  animation: ldsellipsis3 0.6s infinite;
}

@keyframes ldsellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ldsellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes ldsellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}