/** loading spinner */
.loader {
  text-align: center;
  color: #26A391;
}

.ldsellipsis {
  position: relative;
  width: 100px;
  margin: auto;
  height: 60px;
}

.ldsellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #F74237;

  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsellipsis div:nth-child(1) {
  left: 18px;
  animation: ldsellipsis1 0.6s infinite;
}

.ldsellipsis div:nth-child(2) {
  left: 18px;
  animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(3) {
  left: 42px;
  animation: ldsellipsis2 0.6s infinite;
}

.ldsellipsis div:nth-child(4) {
  left: 66px;
  animation: ldsellipsis3 0.6s infinite;
}

@keyframes ldsellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ldsellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes ldsellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}