.page {
  min-height: 50vh;
  max-height: fit-content;
  width: clamp(320px, 100vw, 600px);
  margin: 20px auto;
  background-color: #F9F5F0;
}

.page .container {
  margin: 20px;
}

.page .header {
  height: 10vh;
  padding-top: 20px;
}

.page .longDescription {
  text-align: justify;
  margin: 24px 0;
}

.tag {
  height: 40px;
  width: fit-content;
  margin: 24px 0;
  background-color: #142639;
  color: #F9F5F0;
  padding: 4px;
}

.tag .tagHeader {
  font-size: 18px;
  text-transform: uppercase;
}

.tag .tagSubheader {
  font-size: 12px;
  text-transform: uppercase;
}