/* splash page */

.splash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splash .canvas_contents {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splash .textLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
  z-index: 1;
}

.splash .splashTextContainer {
  margin: auto;
  width: 50vw;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .splash .splashTextContainer {
    margin: auto;
    width: 80vw;
  }
}

.splash .splashBanner {
  width: 100%;
  display: block;
}