body {
  top: 0px;
  left: 0px;
  color: #FFF;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Gotu', sans-serif;
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait){body{height:1024px}
}
@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape){body{height:768px}
}

h1{
  font-weight:300;
}

@media all and (max-width:768px){
  h1{font-size:2rem}
}

@media all and (min-width:768px){
  h1{font-size:2.2rem}
}
@media all and (min-width:1024px){
  h1{font-size:3rem}
}

h2{
  margin:0;
  padding:0;
  display:block;
  font-size:1.2rem;
  font-weight:300;

}
@media all and (max-width:768px){
  h2{
    word-wrap: break-word;
  }
}

@media all and (min-width:768px){
  h2{font-size:1.4rem}
}
@media all and (min-width:1024px){
  h2{font-size:1.6rem}
}

p{
  font-size:.5rem;
  font-weight:100
}

@media all and (max-width:768px){
  p{font-size:.8rem}
}

@media all and (min-width:768px){
  p{font-size:1rem}
}
@media all and (min-width:1024px){
  p{font-size:1.2rem}
}

a {
  color: #FFF4eb;
}

a:hover {
  color: #bf9850;
}

.section {
  position: relative;
  overflow: hidden;
  max-height: none;
}

.section:before {
  left: 0px;
  top:0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  box-sizing: border-box;
}

.content {
  text-align: center;
  position: relative;
  align-items:center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  height:100%;
  width: 100%;
}

@media all and (max-width:768px){
  .container {
    align-items:center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0px;
    position: relative;
    overflow: hidden;
    top:0px;
    width: 100%;
  }
}

@media all and (min-width:768px){
  .container {
    align-items:center;
    background-size: cover;
    display: flex;
    justify-content: center;    
    min-height: 100vh;
    padding: 0px;
    position: relative;
    overflow: hidden;
    top:0px;
    width: 100%;    
  }
}


@media all and (min-width:1024px){
  .container {
    align-content: flex-end;
    background-color: #f8cbab;
    background-size: cover;
    color: #192340;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0px;
    position: relative;
    overflow: hidden;
    top:0px;
    width: 100%;
  }
}

.content:after{content:"";clear:both}

.content-background {
  background: #f8cbab;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: -1;
}

@media all and (max-width:768px){
  .column-container {
    flex-direction: column;
    display: grid;
    max-width: 80%;
  }
}

@media all and (min-width:1024px){
  .column-container {
    flex-direction: column;
    max-width: 80%;
    text-align: left;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 10vh;
  }
}

/*icons*/
.icon {
  margin: 36px 14px;
  height: 36px;
}

.icon:hover {
  -webkit-animation-name: fadeTo;
  animation-name: fadeTo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media all and (max-width:768px){
  .icon {
    height: 4em;
  }
}

.arrow {
  filter: invert(92%) sepia(3%) saturate(1569%) hue-rotate(321deg) brightness(105%) contrast(103%);
  height: 24px;
 }

/*Button*/
.button {
  background: none;
  border-color: #f8cbab;
  border-style: solid;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  -webkit-animation-name: fadeTo;
  animation-name: fadeTo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.button a {
  color:#f8cbab;
}

.action {
  border-color: #f8cbab;
}

.action2 {
  border-color: #4155b4;
}


/*INTRO*/

.greeting {
  width: 100%;
  display: block;
  background: none;
  border-color: #d16210;
  border-style: solid;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  color: #d16210;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
}

/*RESUME*/

.resume-container {
  text-align: left;
  width: 80%;
  justify-content: center;
  margin-bottom: 2rem;
}

.resume-container h1 {
  color: #fff4eb;
}

@media all and (max-width:768px){
  .resume-container-section {
  }
}

@media all and (min-width:768px){
    .resume-container-section {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
  }
}
@media all and (min-width:1024px){
    .resume-container-section {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
  }
}

.resume-element-container {
  margin-bottom: 48px;
}

.resume-element-container .resume-date {
  color: #f26b5e;
  font-family: 'Karla', sans-serif;
}

.resume-element-container .resume-title {
  text-transform: uppercase;
  color: #fff4eb;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}

.resume-element-container .resume-subtitle {
  color: #fff4eb;
}


/*JOURNAL SECTION*/

#journal h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
}

#journal h4 {
  color: #f8cbab;
  font-family: 'Karla', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 10vh;
}

/*DREAM JOURNAL*/

.entry {
  text-align: left;
  flex-direction: column;
  max-width: 80%;
  margin-top: 18px;
}

.entry div {
    margin-top: 12px;
    color: #3b3c3d;
}

.date {
  font-style: italic;
}


/*SKILLS*/
.proficiency-title {
  color: #192340;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
}

@media all and (max-width:768px){
  .proficiencies-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    text-align: left;
  }
}

@media all and (min-width:768px){
  .proficiencies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    width: 80%;
    text-align: left;
  }
}

@media all and (min-width:1024px){
  .proficiencies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    width: 80%;
    text-align: left;
  }
}

.proficiency-bar-container {
  height: 20px;
  position: relative;
}

.proficiency-bar {
  background-color: #d16210;
  height: 20px;
  position: absolute;
  border-radius: 500px;
  top:0;
  left:0;
}

.proficiency-bar-under {
  background-color: #f8cbab;
  width: 200px;
  height: 20px;
  position: absolute;
  border-radius: 500px;
  top:0;
  left:0;
}

/*LOGO*/

@media all and (max-width:768px){
.avatar {
  height: 30vh;
  opacity: 1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}}

@media all and (min-width:768px){
.avatar {
  height: 50vh;
  opacity: 1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
}
@media all and (min-width:1024px){
.avatar {
  height: 60vh;
  opacity: 1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
}



@keyframes fadeTo {
  from {opacity: 1}
  to {opacity: .5}
}

/* containers */
#welcome {
  background-color: #f8cbab;
  color: #192340;
}

#resume {
  background-color: #40140a;
}

#contact {
  color: #f8cbab;
  background-color: #192340;
}

#contact h4 {
  color: #d16210;
  text-transform: uppercase;
}

#journal {
  background-color: #bf9850;
  color: #192340;
}

#journal a:hover {
  color: #f8cbab;
}

#skills {
  background-color: #f2e1ae;
  color: #192340;
}

#skills h4 {
  color: #d16210;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
}

#about {
  color: #192340;
  background-color: #f26b53;
}

#about h1{
  color: #fff4eb;
  font-family: 'Karla', sans-serif;
}

