body {
  top: 0px;
  left: 0px;
  color: #FFF;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait){body{height:1024px}
}
@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape){body{height:768px}
}

h1{
  font-weight:300;
  font-family: 'Copse', serif;
}

@media all and (max-width:768px){
  h1{font-size:3rem}
}

@media all and (min-width:768px){
  h1{font-size:2.2rem}
}
@media all and (min-width:1024px){
  h1{font-size:3rem}
}

h2{
  margin:0;
  padding:0;
  display:block;
  font-size:1.2rem;
  font-weight:300;

}
@media all and (max-width:768px){
  h2{
    word-wrap: break-word;
  }
}

@media all and (min-width:768px){
  h2{font-size:1.4rem}
}
@media all and (min-width:1024px){
  h2{font-size:1.6rem}
}

p{
  font-size:.5rem;
  font-weight:100
}

@media all and (max-width:768px){
  p{font-size:1.2rem}
}

@media all and (min-width:768px){
  p{font-size:1rem}
}
@media all and (min-width:1024px){
  p{font-size:1.2rem}
}

a {
  color: #F7B733;
}

a:hover {
  color: #FFF;
}

.section {
  position: relative;
  overflow: hidden;
  max-height: none;
}

.section:before {
  left: 0px;
  top:0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  min-height: 100%
  text-align: center;
}

.grid:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  text-align: center;
  position: relative;
  align-items:center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  height:100%;
}

.content:after{content:"";clear:both}

.content-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  overflow: hidden;
  background: #4ABDAC;
}

.container {
  position: relative;
  height: 100vh;
  align-items:center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  top:0px;
  background: #4ABDAC;
}

/*icons*/
.icon {
  margin: 36px 14px;
  height: 36px;
}

.icon:hover {
  -webkit-animation-name: fadeTo;
  animation-name: fadeTo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media all and (max-width:768px){
  .icon {
    height: 4em;
  }
}

/*Button*/

.button {
  min-width: 230px;
  color:#FFF;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  -webkit-animation-name: fadeTo;
  animation-name: fadeTo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.action {
  background-color: #3E337D;
}

.action2 {
  background-color: #4155b4;
}


/*RESUME*/
.resume-container {
  text-align: left;
  width: 80%;
  justify-content: center;
}

.resume-element-container {
  float: left;
  clear: both;
  width: 100%;
  margin: 5px;
  display: flex;
}

.resume-element-container .resume-content {
  padding: 0px 20px 0px 20px;
  width: 80%;
  float: left;
  text-align: left;
}

.resume-element-container .demarcation {
  height: 80px;
  width: 8px;
  display: block;
  float: left;
  position: relative;
  text-align: right;
}

.resume-element-container .left-content{
  display: inline-block;
  margin: 16px;
  width: 15%;
}

.resume-element-container.education .demarcation{
  background: #fc4a14;
}

.resume-element-container.experience .demarcation{
  background: #F7B733;
}

.resume-element-container.skills .demarcation{
  background: #4ABDAC;
}


/*LOGO*/

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 7em;
  height: 7em;
  margin-left: 20px;
  margin-top: 20px;
}

.circle {
  display:inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: #3e337d;
  border: 2px solid white;
  position: absolute;
}

.circle.purple {
  background-color: #4155b4;
  height: 60%;
  width: 60%;
  top: 1rem;
  left: 2rem;
}

.circle.green {
  background-color: #4ABDAC;
  height: 25%;
  width: 25%;
  left: 5rem;
  top: 0.5rem;
}

.circle.red {
  background-color: #FC4A14;
  height: 15%;
  width: 15%;
  top: 4.3rem;
  left: 3.3rem;
}

.circle.yellow {
  background-color: #F7B733;
  height: 45%;
  width: 45%;
  top: 3.1rem;
  left: 1rem;
}

@keyframes fadeTo {
  from {opacity: 1}
  to {opacity: .5}
}

/* sections */

#main {
  top: 0px;
  height: 100%;
  background-color: #4ABDAC;
}

#resume {
  min-height: 100%;
  background-color: #4155b4;
}

#contact {
  min-height: 100%;
  background-color: #3e337d;
}

#about {
  min-height: 100%;
  color: black;
}

#blog {
  background-color: #F7B733;
}

#about-background {
  background: url("../assets/images/onaRail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: .2;
}

.about-canvas{
  background: #E6E6E6;
  opacity: .1;
}