body {
  top: 0px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  left: 0px;
  overflow: none;
  height: 100%;
  width: 100%;
}

.section {
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*icons*/
.icon {
  filter:invert(100%);
}

.icon:hover{
  filter:invert(0%);
}

.greeting {
}

/*RESUME*/

.resumeElement {
  height: 46px;
  float: left;
  clear: both;
  margin: 2px;
}

.bar {
  padding: 0px 20px 0px 20px;
  white-space: nowrap;
  text-overflow: no-wrap;
  width: 0px;
  float: left;
}

.resumeElement .bar p, h3, h4 {
  margin: 0px;
}

.resumeElement .logo {
  width: 46px;
  height: 46px;
  display: inline-block;
  position: relative;
  float: left;
}

.resumeElement .duration {
  display: inline-block;
  margin-left: 2px;
  margin-top: 24px;
}

.education {
  background-color: #fc4a14;
}

.experience {
  background-color: #F7B733;
}

.skills {
  background-color: #4ABDAC;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*ROTATE AROUND Y AXIS*/
@keyframes rotateY {
  from { transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}

.rotateY {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: rotateY;
  animation-name: rotateY;
}

/*PULSE ANIMATION*/
@keyframes pulse {
  20% {
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);;
  }

  40% {
    -webkit-transform: scale(2.25,2.25);
    transform: scale(2.25,2.25);;
  }

  60% {
    -webkit-transform: scale(2.1,2.1);;
    transform: scale(2.25,2.25);;
  }

  80% {
    -webkit-transform: scale(2, 2);;
    transform: scale(2,2););
  }

  to {
    -webkit-transform: scale(1, 1);;
    transform: scale(1, 1);;
  }
}

.pulse {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

#period {
  display:inline-block;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: #3e337d;
  position: absolute;
  margin-top: 25px;
  margin-left: 5px;
  animation-iteration-count: infinite;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeOut {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
   -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

/* sections */
#resume {
  top: 100%;
  background-color: #4155b4;
}

#work {
  top: 200%;
  background-color: #3e337d;
}

#main {
  top: 0px;
  background-color: #4ABDAC;
}


@media screen and (max-width: 480px) {
  .container {
    margin: 0px 20px;
  }

  .moveResumeHeader {
    -webkit-animation-name: moveResumeHeader;
    animation-name: moveResumeHeader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  @keyframes moveResumeHeader {
    from {transform: translate(0px, 0px);}
    to {transform: translate(0px, 150px);}
  }
}

@media screen and (max-width: 1600px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .container {
    margin: 0px 100px;
  }

  .moveResumeHeader {
    -webkit-animation-name: moveResumeHeader;
    animation-name: moveResumeHeader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  @keyframes moveResumeHeader {
    from {transform: translate(0px, 0px);}
    to {transform: translate(300px, 50px);}
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }

  .container {
    margin: 0px 150px;
  }

  .moveResumeHeader {
    -webkit-animation-name: moveResumeHeader;
    animation-name: moveResumeHeader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
     -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  @keyframes moveResumeHeader {
    from {transform: translate(0px, 0px);}
    to {transform: translate(500px, 50px);}
  }
}

