body {
  top: 0px;
  left: 0px;
  color: #FFF;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

@media all and (device-width:768px) and (device-height:1024px) and (orientation:portrait){body{height:1024px}
}
@media all and (device-width:768px) and (device-height:1024px) and (orientation:landscape){body{height:768px}
}

h1{
  font-size:5rem;
  font-weight:300;
  line-height:1.2;
  font-family: 'Copse', serif;
}

@media all and (max-width:768px){
  h1{font-size:4rem}
}

@media all and (min-width:768px){
  h1{font-size:5rem}
}
@media all and (min-width:1024px){
  h1{font-size:6rem}
}

h2{
  margin:0;
  padding:0;
  display:block;
  font-size:1.8rem;
  font-weight:300;

}
@media all and (max-width:768px){
  h2{
    word-wrap: break-word;
  }
}

@media all and (min-width:768px){
  h2{font-size:2rem}
}
@media all and (min-width:1024px){
  h2{font-size:2.2rem}
}

p{
  font-size:1.4rem;
  font-weight:100
}

@media all and (max-width:768px){
  p{font-size:1.2rem}
}

@media all and (min-width:768px){
  p{font-size:1.4rem}
}
@media all and (min-width:1024px){
  p{font-size:1.6rem}
}

a {
  color: #F7B733;
}

a:hover {
  color: #FFF;
}

.section {
  position: relative;
  overflow: hidden;
  max-height: none;
}

.section:before {
  left: 0px;
  top:0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-direction: column;
  min-height: 100%
  text-align: center;
}

.grid:after {
    content: " ";
    display: block;
    clear: both;
}

.content {
  text-align: center;
  position: relative;
  align-items:center;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  height:100%;
}

.content:after{content:"";clear:both}

.content-background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  overflow: hidden;
  background: #4ABDAC;
}

.container {
  position: relative;
  height: 100vh;
  align-items:center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  top:0px;
  background: #4ABDAC;
}

/*icons*/
.icon {
  margin: 36px 14px;
  height: 36px;
}

.icon:hover {
  -webkit-animation-name: fadeTo;
  animation-name: fadeTo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media all and (max-width:768px){
  .icon {
    height: 4em;
  }
}

/*RESUME*/

.resumeElement {
  float: left;
  clear: both;
  margin: 5px;
}

.bar {
  padding: 0px 20px 0px 20px;
  max-width: 100%;
  float: left;
  text-align: left;
}

.resumeElement .bar p, h3, h4 {
  margin: 0px;
}

.resumeElement .duration {
  height: 16px;
  width: 100px;
  display: block;
  float: left;
  position: relative;
  text-align: right;
}

.resumeElement .duration-label{
  display: inline-block;
  margin-left: 4px;
}

.resumeElement.education .duration{
  background: #fc4a14;
}

.resumeElement.experience .duration{
  background: #F7B733;
}

.resumeElement.skills .duration{
  background: #4ABDAC;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*ROTATE AROUND Y AXIS*/
@keyframes rotateY {
  from { transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}

.rotateY {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: rotateY;
  animation-name: rotateY;
}

.circle {
  display:inline-block;
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background-color: #3e337d;
  border: 2px solid white;
  animation-iteration-count: infinite;
  position: absolute;
}

.circle.purple {
  background-color: #4155b4;
  height: 4em;
  width: 4em;
  -webkit-animation-delay: .25s; /* Safari 4.0 - 8.0 */
  animation-delay: .25s;
}

.circle.green {
  background-color: #4ABDAC;
  height: 1.5em;
  width: 1.5em;
  -webkit-animation-delay: .75s; /* Safari 4.0 - 8.0 */
  animation-delay: .75s;
  /*transform: translate(40px, -5px);*/
  left: 13px;
  top: -5px;
}

.circle.red {
  background-color: #FC4A14;
  -webkit-animation-delay: .5s; /* Safari 4.0 - 8.0 */
  animation-delay: .5s;
  /*transform: translate(30px, 55px);*/
  top: 55px;
}

.circle.yellow {
  background-color: #F7B733;
  height: 3em;
  width: 3em;
  /*transform: translate(-5px, 30px);*/
  top: 35px;
  left: -45px;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeOut {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
   -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fadeTo {
  from {opacity: 1}
  to {opacity: .5}
}

/* sections */

#main {
  top: 0px;
  height: 100%;
  background-color: #4ABDAC;
}

#resume {
  min-height: 100%;
  background-color: #4155b4;
}

#work {
  min-height: 100%;
  background-color: #3e337d;
}

#about {
  min-height: 100%;
  color: black;
}

#about-background {
  background: url("../images/onaRail.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  opacity: .2;
}

.about-canvas{
  background: #E6E6E6;
  opacity: .1;
}